<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Welcome Wambo {% endblock%}</title>
</head>

<body>
<div class="container">

{% block content %}

    {% include 'includes/messages_display.html' %}

    <nav>
        {% include 'includes/menu.html'%}
    </nav>
    <section>
        {% block body %} {% endblock body %}
    </section>
    <hr>
    <footer>
        {% block footer%}
        Wambo Inc & copy Todos los derechos reservados
        {% endblock %}
    </footer>
{% endblock content %}

</div>
</body>

</html>