{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <h1> Confirm Detele</h1>
            <form method="post" action=".">
                {% csrf_token %}
                <p> Are you sure want to delete a comment: "{{ object.content }}"?  </p>
                <input type="submit" value="Confirm" class="btn btn-warning">
                <a href="{{ object.get_absolute_url }}" class="btn btn-default">Cancel</a>
            </form>
    </div>
{% endblock content %}