{% extends 'base.html' %}
{% block content %}
<title xmlns="http://www.w3.org/1999/html"> {% block title %} Wambo Post {% endblock%}</title>
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
    <h1>Read, write and share stories</h1>
    <hr>
    {% if not request.user.is_authenticated %}
        <h2><a href="{% url 'url_post_create' %}">Write a story</a></h2>
    {% else %}
     <form class="row" method="get" action="">
        <div class="col-sm-6">
            <div class="input-group">
                <input class="form-control" type="text" name="search" id="" placeholder="Search post" value="{{ request.GET.search }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" value="Search">Go!</button>
                </span>
            </div>
        </div>
    </form>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            {% for obj in object_list %}
                <div class="thumbnail">
                    {% if obj.image %}
                    <img src="{{ obj.image.url }}" class="img-responsive" alt="...">
                    {% endif %}
                    <div class="caption">
{#                        {% if obj.draft %}<h3> Staff only: Draft</h3>{% endif %}#}
                        {% if obj.publish > today %} Staff only: Post Pendiente{% endif %}
                        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <small>{{ obj.publish | timesince }}</small></h3>
                        {% if obj.user %}
                            <h4> Author: @{{ obj.user }}</h4>
                        {% endif %}
                        <p>{{ obj.get_markdown | linebreaks}}</p>
                        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                      </div>
                    </div>
                {% cycle '<div class="col-md-6"></div>' '<div class="col-md-6"></div>'%}
            {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                    <a href="?{{ page_rqs_var }}={{ object_list.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                </span>

                {% if object_list.has_next %}
                    <a href="?{{ page_rqs_var }}={{ object_list.next_page_number }}
                        {% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next
                    </a>
                {% endif %}
            </span>
        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
