{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        <ol class="breadcrumb">
            <li><a href="{% url 'url_post_list' %}">Home</a></li>
            <li><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></li>
        </ol>
        <h1> Post Wambo</h1>
        <div class="col-sm-12 post-detail-item">
            {% if instance.image %}
                <img src="{{ instance.image.url }}"  class="img-responsive" alt="">
            {% endif %}
                <h2> {{ instance.title }}
                    <small>
                        {% if instance.draft %} <span class="alert alert-danger">Draft</span>{% endif %}
                        {{ instance.publish | timesince }} ago |
                        {% if instance.read_time >= 9 %}
                            Read time {{ instance.read_time | time:'i' | cut:'0'}} minutes
                        {% else %}
                            Read time {{ instance.read_time | time:'i'}} minutes
                        {% endif %}
                    </small>
                </h2>
            {% if instance.user.get_full_name %}
                <p>Author: {{ instance.user.get_full_name}}</p>
            {% else %}
                <p> Author:@{{ instance.user }}</p>
            {% endif %}
                <p class="lead">
                    {{ instance.get_markdown | linebreaks}}
                </p>
                {% comment %}<p>
                    <div class="fb-like" data-href="{{ request.built_absolute_uri }}" data-layout="button_count" data-action="recommend" data-size="small" data-show-faces="false" data-share="true"></div>
                </p>{% endcomment %}
        </div>
{#        <div class="fb-comments" data-href="{{ request.built_absolute_uri }}" data-numposts="5"></div>#}
    </div>
    {% include "includes/comment.html" %}
{% endblock content %}
